header{
    background-color: aqua;
}

nav{
    background-color: yellow;
    border: 1px dashed black;
}

.blu{
    background-color: blue;
}

.pink{
    background-color: pink;
    border: 1px dashed black;
}

.scheda{
    background-color: aqua;
}

.scheda1{
    background-color: pink;
}

.gray{
    background-color: lightgrey;
}

.green{
    background-color: green;
}

