*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding-bottom: 1rem;
    padding-top: 1rem;
}
    
.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

nav{
    flex-wrap: wrap;
    text-align: center;
    margin-top: 1rem;
    padding: .6rem;
}

.link{
     flex: 0 0 60%;
}

.logo{
    flex: 0 0 20%;
}

.flex{
    display: flex;
}

.container1{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pink{
 margin: auto;
 flex: 0 0 60%;
 height: 700px;
}

.scheda{
    flex: 0 0 60%;
}

.scheda1{
    flex: 0 0 20%;
    height: 700px;
}

.center{
    justify-content: center;
}

.rowreverse{
    flex-direction: row-reverse;
}

.green{
    margin: auto;
    flex: 0 0 60%;
    height: 1050px;
}