*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding-bottom: 1rem;
    padding-top: 1rem;
}
    
.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

nav{
    flex-wrap: wrap;
    text-align: center;
    margin-top: 1rem;
    padding: .6rem;
}

.link{
     flex: 0 0 60%;
}

.logo{
    flex: 0 0 20%;
}

.flex{
    display: flex;
}

.container1{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pink{
 max-width: 800px;
 margin: auto;
 flex: 0 0 60%;
 height: 700px;
}

.scheda{
    flex: 0 0 70%;
}

.scheda1{
    flex: 0 0 30%;
    height: 700px;
}

.center{
    justify-content: center;
}

.rowreverse{
    flex-direction: row-reverse;
}

.green{
    margin: auto;
    flex: 0 0 100%;
    height: 1050px;
}

.container2{
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.tabella{
    flex: 0 0 30%;
}

.tabella1{
    flex: 0 0 17.5%;
    height: 700px;
}

footer{
    border-top: 1px solid white;
}

.greenbox{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.4rem;
    padding-top: 1.4rem;

}

.logo1{
    padding: .7rem;
    font-size: 1.4rem;
    font-weight: 800;
}

.fix{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}